* {
    user-select: none;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --header-height: 3.5rem;
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    --body-font: "Montserrat Alternates", sans-serif;
    --h1-font-size: 1.5rem;
    --normal-fs: .938rem;
    --fr: 400;
    --fm: 500;
    --zt: 10;
    --zf: 100;
}

.h {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--black-color);
    z-index: var(--zf);
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--white-color);
    font-weight: var(--fm);
    padding-left: 20px;
}

.input-wrapper {
    padding-right: 25px;
}

.input-wrapper .btn {
    border-radius: 5px;
}

span:hover,
.btn:hover {
    cursor: pointer;
}

span:not(:hover),
.btn:not(:hover) {
    cursor: auto;
}

#boxof {
    padding-top: 60px;
}

#ulof {
    display: grid;
    flex-direction: column;
    gap: 12px;
}

.lik {
    background-color: #d5d5d5;
    border: 1px solid var(--black-color);
    width: 95%;
    height: 40px;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.lik.completed::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 1%;
    width: 97.5%;
    height: 1px;
    background-color: var(--black-color);
    transform: translateY(-50%);
    z-index: 0;
}

.lik.completed * {
    position: relative;
    z-index: 1;
}

input:focus {
    outline: none;
}

.remove {
    padding-right: 20px;
}

.remove-span {
    padding-right: 20px;
}

span.disabled {
    pointer-events: none;
    opacity: 0.4;
}
